.heading{
    text-align: center;
  }
  .container{
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    margin: 40px 415px 0px 415px;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px 10px;
  }